body {
    padding: 1em;
    margin: 0;
    background-color: white;
    font-size: 75.01%;
    line-height: 1.5em;
    color: black;
    font-family: "Trebuchet MS", sans-serif;
}

.center {
    text-align: center;
}

.small {
    font-size: 0.95em;
}

.tiny {
    font-size: 0.90em;
}

.toc {
    padding: 0.5em;
    line-height: 1.5em;
    margin: 10px 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 33.33%;
}

.copyright {
    font-style: italic;
}

.pubdate {
    background-color: #eee;
    font-weight: bold;
    font-size: 125%;
}

p.title {
    font-size: 150%;
    color: #5382A1;
}

.itemizedlist {
    line-height: 1.0em;
    color: #2f2f2f;
}

h1, h2, h3 {
    margin-bottom: 0.5em;
}

h1+p, h2+p, h3+p, h4+p, h5+p {
    margin-top: 0;
}

h1 {
    color: #5382A1;
}

h2 {
	font-size: 200%;
	color: #5382A1;
	line-height: 1em;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 125%;
}

h5, h6 {
    font-size: 1em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

address {}
em {}
strong {}
dfn {}

code, pre {
    color: black;
    font-family: Courier, monospace;
}
pre {
    background-color: #efefef;
    border: 1px solid #ccc;
    font-size: 100.01%;
    padding: 0.5em;
    overflow: hidden;
}

samp {}
kbd {}
var {}
cite {}
abbr {}
acronym {}
blockquote {}
q {}
sub {}
sup {}
p {}
ins {}
del {}

ul, ol {
    margin-left: 0;
    padding-left: 2em;
}
li {
    margin: 0;
    padding: 0;
}

dl {}
dt {
    padding-left: 10px;
    font-weight: bold;
dd {
    padding-left: 5px;
}

table {
    border-collapse: collapse;
    empty-cells: show;
    margin: 1em 0 1em 0;
    font-size: 115.01%;
}
caption {
    text-align: left;
    font-weight: bold;
    font-size: 115.01%;
}
thead {}
tfoot {}
tbody {}
colgroup {}
col {}
td {
    padding: 0.3em 0.8em;
    border: 1px solid #999;
    vertical-align: top;
}
th {
    padding: 0.3em 0.8em;
    border: 1px solid #999;
    vertical-align: top;
    background-color: #cfcfcf;
}

a:link {}
a:visited {}
a:link:hover {}
a:visited:hover {}
a:active {}
a:focus {}
a:focus:hover {}
a img {
    border-style: none;
}

img {}
object {}
applet {}

tt { font-family: Courier, monospace; }
i {}
b {}
big {}
small {}
hr {}
iframe {}
