/* Style properties for HTML elements based on the HTML 4.01 Specification.
*/

/* Section 7.5: The document body */
body {
    padding: 1em;
    margin: 0;
    background-color: white;
    font-size: 75.01%; /* 12px [1] */
    line-height: 1.5em; /* 18px [2] */
    color: black;
    font-family: "Trebuchet MS", sans-serif;
}

h1, h2, h3 {
    margin-bottom: 0.5em;
}
h1+p, h2+p, h3+p, h4+p, h5+p {
    margin-top: 0;
}
h1 {
    color: #5382A1;
}
h2 {
	font-size: 200%;
	color: #5382A1;
	line-height: 1em;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 125%;
}
h5, h6 {
    font-size: 1em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

address {}

/* Section 9: Text */
em {}
strong {}
dfn {
	font-style: normal;
}
abbr[title], acronym[title], dfn[title] {
	cursor: help;
}
code, pre {
    color: black;
    font-family: Courier, monospace; /* [3] */
}
pre {
    background-color: #efefef;
    border: 1px solid #ccc;
    font-size: 100.01%;
    padding: 0.5em;
    overflow: hidden;
}
samp {}
kbd {}
var {}
cite {}
abbr {}
acronym {}
blockquote {}
q {}
sub {}
sup {}
p {}
ins {}
del {}

/* Section 10: Lists */
ul, ol {
    margin-left: 0;
    padding-left: 1.5em;
}
li {
    margin: 0;
    padding: 0;
}
dl {}
dt {}
dd {}

/* Section 11: Tables */
table {
    border-collapse: collapse;
    empty-cells: show;
    margin: 1em 0 1em 0;
}
caption {
    text-align: left;
    font-weight: bold;
}
thead {}
tfoot {}
tbody {}
colgroup {}
col {}
th, td {
    padding: 0.3em 0.8em;
    border: 1px solid #999;
    vertical-align: top;
}

/* Section 12.2:  The A element */
a:link {}
a:visited {}
a:link:hover {} /* [4] */
a:visited:hover {}
a:active {}
a:focus {}
a:focus:hover {}

a img {
    border-style: none;
}


/* Section 13: Objects, Images, and Applets */
img {}
object {}
applet {}

/* Section 15: Alignment, font styles, and horizontal rules */
/* 15.2: Fonts "[...] their use is discouraged in favor of style sheets." */
tt { font-family: Courier, monospace; }
i {}
b {}
big {}
small {}
/* End of 15.2 */
hr {}

/* Section 16: Frames */
iframe {}

/* Section 17: Forms */
form {}
input {
    font-size: 0.95em;
}
textarea {
    font-size: 1.1em;
    overflow: auto;
}
textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input[type=file]:focus {
    background-color: #efefff;
}

select,
optgroup,
option {
    font-size: 1em;
}

button {}
button:focus {}
select:focus {}
label {}
fieldset {}
legend {}



/*
  [1] All calculations are based on the assumption that 1em is 12px.
  [2] If you specify a font-size, also consider to specify a line-height property.
  [3] If you don't specify something other than monospace, mozilla will calculate
      its own font-size based on the user preferences.
  [4] "... prevents hover styles from being applied to non-hyperlink anchors."
      <http://devedge.netscape.com/viewsource/2003/arbitrary-hover/>
*/
